{% include 'components/navbar.html' %}
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies, Series, Anime and etc.</title>
    <link rel="icon" href="{% static 'images/3d-glasses.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/home1.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <h1 class="dobro-pozhalovaty">Добро пожаловать!</h1>
        <p class="zides">Здесь ты найдешь то что ищешь</p>
    </div>
    <div class="content">
        <div class="card">
            <h2>Нажми ниже и получи рекомендации</h2>
            <button class="filter-button" onclick="toggleFilters()">Show filters</button>
            <div id="filters" class="filters" style="display: none;">
                <form method="GET" action="{% url 'django_app:home' %}">
                    <label for="cinematography">Cinematography:</label>
                    <select id="cinematography" name="cinematography">
                        <option value="">--Select Cinematography--</option>
                        {% for key, value in form.cinematography.field.choices %}
                            <option value="{{ key }}" {% if key == form.cinematography.value %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="genre">Genre:</label>
                    <select id="genre" name="genre">
                        <option value="">--Select Genre--</option>
                        {% for key, value in form.genre.field.choices %}
                            <option value="{{ key }}" {% if key == form.genre.value %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="interests">Your interests:</label>
                    <input type="text" id="interests" name="interests" value="{{ request.GET.interests }}">
                    <label for="mood">Your mood:</label>
                    <input type="text" id="mood" name="mood" value="{{ request.GET.mood }}">
                    <button type="submit" class="apply-filters">Submit filters</button>
                </form>
            </div>
        </div>
        <div class="results">
            {% if results %}
                <ul class="movies-list">
                    {% for movie in results %}
                        <li class="movie-item">
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                            <h3>{{ movie.title }}</h3>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <div class="wrapper1">
                <h4 class="not_results">No results</h4>
            </div>
            {% endif %}
        </div>
    </div>
    <footer class="footer1">
        <p class="safe_author">&copy; 2024 Страница для поиска фильма. Все права защищены.</p>
    </footer>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
